parameters:
    ignoreErrors:
        - '#Parameter \#1 \$callback of method MF\\Collection\\Immutable\\Generic\\IList.*?::sortByDescending\(\) expects .*#'

    excludePaths:
        - src/Kernel.php
        - src/Resources
